
<div class="container">
<%= link_to "lets add a dog", new_dog_path %>

<h1>DogGO</h1>

<% @dogs.each do |dog| %>
  <%=link_to dog.name, dog_path(dog)%>
  <p><%= dog.age %></p>
  <p><%= dog.breed %></p>
  <p><%= dog.user_id %></p>
  <%= link_to "delete", dog_path(dog), method: :delete %>
<% end %>
</div>


