<div class="container">
  <h1>Add your dog</h1>


  <%= simple_form_for(@dog) do |f| %>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :breed %>
  <%= f.input :description %>
  <%= f.button :submit %>

<% end %>
<%= render "reservations/go_back" %>
</div>
