
<div class="container">
<h1>Dog!</h1>


<p><%= @dog.name %></p>
<p><%= @dog.age %></p>
<p><%= @dog.breed %></p>
<p><%= @dog.description %></p>
</div>

<%= link_to "Book",  new_dog_reservation_path(@dog), class: "btn btn-primary" %>
