




<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>New Reservation on <%= @dog.name %></h1>


      <%= simple_form_for([@dog, @reservation]) do |f| %>
      <%= f.error_notification %>
         <h5> Start: <%= f.input :date %></h5>
       <h5> End: <%= f.input :date %> </h5>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
       <%= render "go_back" %>

    </div>
  </div>
</div>












